body{
    margin:0px;
    padding:0px;
    background-color: black;
}
.increment{
    margin:0px;
    font-size:xx-large;
}
h1, h2, h3, p, h6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f4d;
    text-align:center;
    
}
p{
    margin:8px;
}
label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffafd8;
    text-align:center;
}
h3{
    margin-top:32px;
    margin-bottom:18px;
    font-size:x-large;
}
h1{
    margin-bottom:36px;
}
h1.title{
    color:pink;
    font-weight:900;
    margin:10%;
    font-size:48px;
}
input, label{
    text-align: center;
    font-size:larger;
}
input[type="number"]{
    width:8%;
    font-size:xx-large;
}
input[type="radio"], input[type="checkbox"]{
    align-items: center;
}
input[type="number"].BIG{
    width:30%;
}
input[type="range"]{
    width:80%;
}
.qrdiv{
    text-align:center;
    margin:auto;
}
.qrcode{
    width:80%;
    max-height:80%;
    margin:10%;
}