{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pittsford 3181 Scouting User Management</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <!-- "side"bar -->
    <ul class="sidebar-nav" style="text-align: center;">
        {% if user.is_authenticated %}
          <li><p>User: {{ user.get_username }}</p></li>
          <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
        {% endif %}
       </ul>
    <h1>Pittsford 3181 Scouting: View and Manage Users</h1>
    <p><i>Please sign in below.</i></p>
    {% if user.is_authenticated %}
    <table style="border-radius:25px;border: 5px solid;border-color:azure;">
        {% for x in data %}
        {% if forloop.first %}
        <tr>{% for e, f in x.items %} <td style="border-bottom: 3px solid pink;"> <p>{{ e }}</p> </td> {% endfor %}</tr>
        {% endif %}
        <tr>{% for e, f in x.items %} <td> <p>{{ f }}</p> </td> {% endfor %}</tr>
        {% endfor %}
    </table>
    {% else %}
    <p><b><i>You are not currently signed in. Please sign in with admin privileges.</i></b></p>
    {% endif %}
</body>
</html>